body {
    background-image: url('Backdrops/GameHubScreen.png');
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: black;
}
.container {
    position: relative;
    width: 50%;
}
    
.container img {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
    
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    padding-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
    
.container .btn:hover {
    background-color: black;
}