body {
    background-image: url('Backdrops/Cavern_Backdrop.png');
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
img {
    display: block;          
    margin-left: 300px;
    width: 1000px;    
    height: 350px; 
}
.hotbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #710404;
}

.hotbar li {
    float: left; 
}

.hotbar li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
}
    
    /* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
}
    
    /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
    
.container .btn:hover {
    background-color: black;
}


.hotbar li a:hover {
    background-color: #3f0505;
}


