body {
    background-image: url('Backdrops/GameHubScreen.png');
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: black;
}
.container {
    position: relative;
    width: 50%;

}
    
.container img {
    margin-top: 10px;
    width: 30%;
    height: 30%;
    margin-top: 60%;
    margin-left: 35%;
}
    
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 12px 24px;
    padding-top: 20px;
    width: 30%;
    height: 30%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30%;
}
    
.container .btn:hover {
    background-color: transparent;
}