body {
    background-image: url('/-CS3_2ndQtrPortfolio_StrontiumMallari/public/Pages/Images/Shop.webp');
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
img {
    display: block;          
    margin-left: 300px;
    width: 1000px;    
    height: 350px; 
}
#booklet {
    margin-top: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 80px;
    width: 160px;
    margin-left: 430px;
    margin-top: 560px;
}
.hotbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #710404; 
}

.hotbar li {
    float: left;
}

.hotbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
}

.hotbar li a:hover {
    background-color: #3f0505;
}
