body {
    background-image: url('Backdrops/Booklet.webp');
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}
img {
    display: block;          
    margin-left: 300px;
    width: 1000px;    
    height: 350px; 
}
.hotbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #710404; 
}

.hotbar li {
    float: left; 
}

.hotbar li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
}


.hotbar li a:hover {
    background-color: #3f0505;
}

#Map {
    position: absolute;
    left: 48.2%;
    top: 104%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 120px;
    width: 360px;
}

.container {
  display: flex; 
  gap: 1%; 
  justify-content: space-between;
}
.container2 {
  display: flex; 
  gap: 1%; 
  justify-content: space-between;
}
#Dice {
    position: absolute;
    left: 16.8%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 70px;
    width: 220px;
}
#Book {
    position: absolute;
    left: 81.5%;
    top: 59%;
    transform: translate(-50%, -50%); 
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 90px;
    width: 280px;
}
#Sheet {
    position: absolute;
    left: 81.5%;
    top: 121%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 70px;
    width: 260px;
}
#Statues {
    position: absolute;
    left: 17%;
    top: 119%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    height: 90px;
    width: 265px;
}